<div class="relative bg-slate-100 rounded-lg overflow-hidden shadow-lg cursor-pointer hover:scale-105 hover:shadow-xl transition transform duration-300" onclick="window.location.href='/produk/<%= product._id %>' ">
  <!-- Badge (opsional) -->
  <div class="absolute top-2 right-2 space-x-2 flex">
    <% if (product.badge) { %>
    <div class="bg-<%= product.badge.type === 'diskon' ? '' : 
            product.badge.type === 'baru' ? 'green' : 
            product.badge.type === 'eksklusif' ? 'purple' : 
            product.badge.type === 'terlaris' ? 'blue' : '' %>-500 text-white text-xs font-bold px-3 py-1 rounded-full">
      <%= product.badge.type %>
    </div>
    <% } %>
    <% if (product.isDiscounted) { %>
    <div class="bg-red-500 text-white text-xs font-bold px-3 py-1 rounded-full">
      Diskon <%= product.discountPercentage %>%
    </div>
    <% } %>
  </div>

  <!-- Gambar -->
  <div class="flex justify-center items-center h-[366px] w-full bg-gray-200">
    <img src="<%= product.image %>" alt="<%= product.title %>" class="h-full w-auto max-h-full max-w-full object-cover rounded-lg" />
  </div>

  <!-- Konten -->
  <div class="px-4 py-4">
    <h3 class="text-lg font-semibold"><%= product.title %></h3>
    <p class="text-sm text-gray-600 mb-2"><%= product.shortDescription %></p>

    <!-- Harga -->
    <% if (product.isDiscounted) { %>
    <div class="flex items-baseline">
      <h4 class="text-lg font-bold text-gray-800 line-through">
        Rp <%= product.price.toLocaleString('id-ID') %>
      </h4>
      <h4 class="ml-2 text-xl font-bold text-red-500">
        Rp <%= (product.price - (product.price * product.discountPercentage / 100)).toLocaleString('id-ID') %>
      </h4>
    </div>
    <% } else { %>
    <h4 class="text-lg font-bold text-gray-800">
      Rp <%= product.price.toLocaleString('id-ID') %>
    </h4>
    <% } %>

    <!-- Status -->
    <div class="mt-2 text-sm font-medium">
      <span class="<%= product.isPreorder ? 'text-orange-500' : 'text-green-500' %>">
        <%= product.isPreorder ? 'Preorder' : 'Ready Stock' %>
      </span>
      <% if (!product.isPreorder) { %> | Stok: <%= product.stock %><% } %>
    </div>
  </div>
</div>