<!DOCTYPE html>
<html lang="id">
<%- include('../../partials/head.ejs') %>

<body>
  <!-- navbar -->
  <%- include('../../partials/navbar.ejs') %>

  <div>
    <!-- banner -->
    <%- include('../../partials/banner.ejs') %>

    <!-- filter -->
    <div class="bg-secondary py-8">
      <div class="container mx-auto">
        <div>
          <p>
            Menampilkan <%= startIndex %>-<%= endIndex %> dari <%=
              totalProducts %> hasil
          </p>
        </div>
      </div>
    </div>

    <!-- katalog -->
    <div class="container mx-auto my-12">
      <!-- Pencarian -->
      <div class="container mx-auto my-6">
        <form action="/belanja" method="GET" class="flex space-x-4">
          <input type="text" name="search" placeholder="Cari produk..." value="<%= searchQuery %>" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary focus:outline-none" />
          <button type="submit" class="px-6 py-2 bg-primary text-white font-bold rounded-lg hover:bg-primary-dark transition duration-200">
            Cari
          </button>
        </form>
      </div>

      <!-- Pagination -->
      <%- include('../../partials/pagination', { currentPage, totalPages, searchQuery }) %>

      <!-- Daftar Produk -->
      <div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
          <% katalogView.forEach(product => { %>
          <!-- Panggil Partial Card -->
          <%- include('../../partials/card-product', { product: product }) %>
          <% }) %>
        </div>
      </div>

      <!-- Pagination -->
      <%- include('../../partials/pagination', { currentPage, totalPages, searchQuery }) %>
    </div>


    <!-- keunggulan -->
    <div class="bg-secondary py-24">
      <div class="container mx-auto grid grid-cols-3">
        <div class="flex">
          <div class="my-auto">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
            </svg>
          </div>
          <div class="grid grid-rows-2 gap-2 mx-2">
            <h2>Kualitas Tinggi</h2>
            <p class="text-slate-500">
              Bahan pilihan dan terjamin kualitasnya
            </p>
          </div>
        </div>
        <div class="flex justify-center">
          <div class="my-auto">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
            </svg>
          </div>
          <div class="grid grid-rows-2 gap-2 mx-2">
            <h2>Garansi Produk Asli</h2>
            <p class="text-slate-500">Keaslian batik tradisional terjamin</p>
          </div>
        </div>
        <div class="flex justify-end">
          <div class="my-auto">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
              <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
            </svg>
          </div>
          <div class="grid grid-rows-2 gap-2 mx-2">
            <h2>Layanan 24 Jam</h2>
            <p class="text-slate-500">Layanan pelanggan selalu siap</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <%- include('../../partials/footer.ejs') %>
</body>

</html>